<div class="header">
	<%= link_to header_button, root_path %>
	<table id="links">
		<tr>
			<td>
				<%= link_to lawn_button, lawn_path %>
			</td>
			<td>
				<%= link_to snow_button, snow_path %>
			</td>
			<td>
				<%= link_to landscape_button, landscape_path %>
			</td>
			<td>
				<%= link_to gallery_button, gallery_path %>
			</td>
			<td>
				<%= link_to about_button, about_path %>
			</td>
			<td>
				<%= link_to contact_button, contact_path %>
			</td>
			<td>
				<%= link_to maps_button, "#" %>
			</td>
		</tr>
	</table>
</div>
