<table class="main_table">
	<tr>
		<td>
			<%= link_to snow_button, snow_path %>
		</td>
		<td>
			<%= link_to lawn_button, lawn_path %>
		</td>
		<td>
			<%= link_to landscape_button, landscape_path %>
		</td>
	</tr>
</table>
<div id="one">
<%= image_tag("cut_intro.png", :alt => "A Cut Above") %>
</div>
<div id="two">
<%= image_tag("growth_intro.png", :alt => "Growth and Excellence") %>
</div>
<div id="three">
<%= image_tag("mile_intro.png", :id => "three", :alt => "Going the Extra Mile") %>
</div>